<img src = {{ album.album_logo }}>

<h2>{{ album.album_title }}</h2>
<h3>{{ album.artist }}</h3>

{% if error_message %}
  <p><strong>{{error_message}}</p></strong>
{% endif %}


<!-- ID is the primary key given to album automatically by the DJANGO database -->
<form action='{% url 'music:favorite' album.id %}' method = 'post'>
  {% csrf_token %}
  {% for song in album.song_set.all %}
  <input type='checkbox' id='song{{ forloop.counter }}'  name='song' value='{{song.id}}'>
  <!-- value='{{sond.id}}' is to recognise what the user did while processing -->
  <label for='song{{ forloop.counter }}'>
    {{ song.song_title }}
    {% if song.is_favorite %}
      <img src='https://cdn3.vectorstock.com/i/1000x1000/94/77/sketch-heart-icon-love-design-graphic-vector-10069477.jpg'
       alt="Heart" title='Heart' width='16px' height='16px'>
    {% endif %}
  </label>
  {% endfor %}
  <input type='submit' value='Favorite'>
</form>
