{% extends 'music/base.html'%}

{% block body %}


      {% for album in all_albums %}
      <div class="container">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{ album.album_logo }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ album.album_title }}</h5>
            <p class="card-text">Artist: <strong>{{ album.artist }}</strong><br>Genre: <strong>{{ album.genre }}</strong></p>
            <a href="{% url 'music:detail' album.id %}" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      {% endfor %}


{% endblock %}
