body
{
  background-image: url("images/background.jpg");
  background-size: cover;
  font-family: 'Russo One', sans-serif;
  margin: 0;
  text-align: center;
  padding-top: 80px;
  padding-left: 20px;
}

#Titlefont
{
  font-family: 'Bungee Inline', cursive;
}
